<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AudioSwitch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
 <userSettings>
  <AudioSwitch.Properties.Settings>
   <setting name="wSize" serializeAs="String">
    <value>1942, 1042</value>
   </setting>
   <setting name="wState" serializeAs="String">
    <value>Maximized</value>
   </setting>
   <setting name="wLoc" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="offlineDevice" serializeAs="String">
    <value>a | b</value>
   </setting>
   <setting name="onlineDevice" serializeAs="String">
    <value>a | b</value>
   </setting>
   <setting name="notifyOnChange" serializeAs="String">
    <value>False</value>
   </setting>
  </AudioSwitch.Properties.Settings>
 </userSettings>
</configuration>